* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(30, 30, 30),
    black
  );
  padding: 20px;

  section {
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;

    .all-reels::-webkit-scrollbar {
      display: none;
    }
    .all-reels {
      height: 100%;
      width: 100%;
      overflow: auto;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;

      .reel {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: lightseagreen;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 20px;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .bottom {
          padding: 30px 20px;
          background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.948));
          width: 100%;
          position: absolute;
          bottom: 0;

          .user h4 {
            color: #fff; 
            font-size: 20px;
            font-weight: 500;
          }

          .user {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;

            img {
              height: 25px;
              width: 25px;
              border-radius: 50%;
              object-fit: cover;
            }

            button {
              background-color: transparent;
              padding: 4px 6px;
              font-size: 12px;
              color: aliceblue;
              font-weight: 500;
              border-radius: 5px;
              border: 1px solid white;
              cursor: pointer;
            }
          }

          h3 {
            color: azure;
            font-weight: 500;
            font-size: 20px;
          }
        }

        .right {
          color: #fff;
          padding: 30px;
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 18px;
          width: 40px;
          // height: 100%;
          position: absolute;
          right: 0;
          bottom: 12%;
          // background: linear-gradient(to right, transparent, black);
          // transform: translateX(100%);

          .icon {
            font-size: 25px;
            font-weight: 500;

            .love{
                color: red;
            }
          }

          h4 {
            cursor: pointer;
          }

          h6 {
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
          }

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
